body {
    font-family: helvetica, verdana, sans-serif;
    background-color:rgb(110, 110, 227);
    
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

img {
    height: 400px;
    width: 600px;
}